<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        
        <h1>Olá, me diga seu nome e o animal que você mais gosta!</h1>


       <div class="box">
           <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-sm-12">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Digite seu nome</label>
                    <input type="text" class="form-control " id="exampleFormControlInput1" placeholder="">
    
        
          </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Selecione o animal que você mais gosta</label>
              <select class="form-control " id="exampleFormControlSelect1">
                <option>Selecione...</option>
                <option value="1">Cachorro</option>
                <option value="2">Gato</option>
                <option value="3">Peixe</option>
              </select>
            </div>  
            <div class="row justify-content-end">
           
                    <button class="btn btn-primary" type="button">Enviar</button>
               
            </div>
          </form>
        </div>
       </div>
        </div>
    </div>  


    <script src="js/jquery-3.6.0.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>